/*  visualizer start */
.array-container {
    /* background-color: aqua; */
    width: 100%;
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }
  
  /*  visualizer end */
  
  /* button start */
  .btn {
    background-color: white;
    border: none;
    color: #282c34;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    width: 30%;
  }
  
  /* button end */
  
  /* Select menu button start */
  .custom-select .menu {
    background-color: white;
    border: none;
    color: #282c34;
    padding: 11px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
  }
  /* Select menu button end */
  
  /* Default app css */
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }