/*  visualizer start */
.array-container {
    /* background-color: aqua; */
    width: 100%;
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }
  
  /*  visualizer end */
  
  /* button start */
  .btn {
    /* background-color: white; */
    border: none;
    color: #282c34;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    width: 30%;
  }
  
  /* button end */
  
  /* Select menu button start */
  .custom-select .menu {
    background-color: white;
    border: none;
    color: #282c34;
    padding: 11px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
  }
