.NavBar {
  background-color: #333; 
  overflow: hidden;
  padding: 1%;
}

.NavBar li {
  display: inline;
  margin-right: 20px; 
}

.NavBar a {
  color: white; 
  text-decoration: none; 
  padding: 10px 15px; 
  transition: background-color 0.3s ease; 
}

.NavBar a:hover {
  background-color: #555;
}

.nav_button {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



