.NavBar {
  background-color: #333; /* Background color of the navbar */
  overflow: hidden;
  width: 100%;
  padding: 1%;
}

.NavBar li {
  display: inline;
  margin-right: 20px; 
}

.NavBar a {
  color: white; 
  text-decoration: none; 
  padding: 10px 15px; 
  transition: background-color 0.3s ease; 
}

.NavBar a:hover {
  background-color: #555;
}

