.matrix-cell {
  width: 15px;
  height: 15px;
  margin: 1px;
  font-size: 0;
  background-color: #e9ecef;
  transition: background-color 0.5s;
}

.start {
  background-color: #0d6efd !important;
}

.objective {
  background-color: #198754 !important;
}

.obstacle {
  background-color: #6c757d !important;
}

.path {
  background-color: #ffc107 !important;
}

.weight {
  background-color: red !important;
}

.expanded {
  background-color: aquamarine !important;
}
