@import "tailwindcss";

@layer base {
  html {
    @apply text-black;
  }
}

@theme {
  --color-primary-600: oklch(98.5% 0.001 106.423);
  --color-secondary-300: oklch(98.5% 0.001 106.423);
}

body {
  background-color: oklch(98.5% 0.001 106.423);
  font-family: "Roboto", sans-serif;
}
